Collecting freeze
  Downloading freeze-3.0.tar.gz (188 kB)
Requirement already satisfied: six in ./venv/lib/python3.8/site-packages (from freeze) (1.14.0)
Building wheels for collected packages: freeze
  Building wheel for freeze (setup.py): started
  Building wheel for freeze (setup.py): finished with status 'done'
  Created wheel for freeze: filename=freeze-3.0-py3-none-any.whl size=12104 sha256=c9118237253d2534af4b5c1591b77b2858f0cd589e62b63ad295231a0a25b7cd
  Stored in directory: /home/user/.cache/pip/wheels/9b/c8/58/919fdda51f881bfbf09558405b721d511ea2dabd674127d508
Successfully built freeze
Installing collected packages: freeze
Successfully installed freeze-3.0
